:root {
  --paleYellow: #E9F0B7;
  --yellow: #E8BB5A;
  --blue: #5A70E8;
  --morado: #735AE8;
  --fucsia: #E85AA3;
  --negro: #453D41;



}

body {
  font-family: "Reddit Sans", sans-serif;
  background-color: var(--paleYellow
  );
}
.pokeBox {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: var(--morado);
  font-size: 2em;
}
.searchBox {
  margin-top: 30px;
}

input {
  font-family: "Reddit Sans", sans-serif;
  padding-left: 5px;
  border: none;
  height: 30px;
}

button {
  font-family: "Reddit Sans", sans-serif;
  padding: 0px 10px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: var(--fucsia);
  color: var(--paleYellow);
  font-weight: 600;
  font-style: italic;
}

button:hover {
  background-color: var(--morado);
  font-style: normal;
}

.pokemonCard {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: var(--yellow);
  padding: 10px;
  height: 400px;
}

.pokemonCard h3 {
  color: var(--blue);
}

.pokemonCard h4 {
  color: var(--fucsia)
}

.pokemonCard img {
  width: 150px;
}